<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="shortcut icon" type="image/png" href="Images/favicon.png"/> -->
	<title>News Predictor</title>
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
    	body {
    		background-color: plum;
    	}
    	h1 {
    		color: darkgreen;
    		font-size: 52px;
    	}
        textarea {
            resize: horizontal;
            width: 200px;
            height: 400px;
        }

    </style>
</head>

<h1>Please copy and paste your news article  <i class="large material-icons">arrow_downward</i></h1>
<h2 style="font-size:15px !important;">I am using a TFIDF word vectorizer and multi-class logistic regression to classify the news into 6 categories: food, technology, business, politics, entertainment, and sport. Let's try it out and visualize the results!</h2>

<form id="text-box" action="" method="post">
    {% csrf_token %}
    

    <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          {{ form }}
          <!-- <label for="icon_prefix3"></label> -->
    </div>
    <input type="submit" value="Analyze">
</form>


</html>
