<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="shortcut icon" type="image/png" href="Images/favicon.png"/> -->
	<title>News Predictor</title>
	 <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <style type="text/css">
    	body {
            display: inline-flex;
            flex-direction: column;
    		background-color: plum;
    		border-style: solid;
    		border-bottom-width: 13px;
    	}
        #link {
            color: black; 
        }
       
    </style>
</head>

<body>
{% if news_category_list %}

    	<h2>Here are most recent predicted News :<h2>
  
   <div class="collection">
{% for category in  all_category %}


    {{category}}

    
    {% for item in news_category_list %}
 
    {% if item.1.category == category %}

    <a style = "font-size: 13px" class="collection-item" href="{% url 'results' item.0.id %}">• {{ item.0.news_text }} </a>

    {% endif %}

    {% endfor %}

  {% endfor %}  
    </div>
{% else %}

    <p class="flow-text">No news articles are available yet.</p>


{% endif %}


<a id="link" href="{% url 'enter_text' %}"><i class="medium material-icons">add_circle_outline</i></a>


</body>
</html>
